html,
body {
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

button {
    border: none;
    width: 49%;
    margin: 3% auto;
    padding: 1%;
    text-align: center;
    font-size: 1.2em;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
    background-color: #e5f2f2;
}

button:hover {
    background-color: #cff2f2;
}

button[type="reset"] {
    background-color: #fbfbc9;
}

button[type="reset"]:hover {
    background-color: #eaea9d;
}

legend {
    font-weight: bold;
}

#save-success {
    display: inline;
    color: green;
}